.barItem {
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
}

.navlink {
    padding: 10px;
    font-size: 20px;
    color: rgb(197, 225, 229);
    text-decoration: none;
}

a {
    padding: 20px;
}
