.button {
    margin: 20px;
    padding: 20px;
    width: 180px;
    height: 50px;
    background: radial-gradient(#78a7b4, #4f656d);
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
