.card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(154, 147, 140, 0.5), 1px 1px 1px rgb(46, 46, 46);

}

.card:hover {
    background: rgba(96, 189, 218, 0.45);
}

.body {

}